$primaryColor: #E2E2E2;
$secondaryColor: #FFFBFB;
$tertiaryColor: #543FD6;
$borderColor: #F9F9F9;
$bgColor: #0d0637;
$bgPrimary: #9788f22e;
$bgSecondary: #4A34D2;
$bgTertiary: #130a5269;
$btnColor: #5038e1e8;
$shadowPrimary: #00000040;
$shadowSecondary: #22222240;
